body {
    text-align: center;
}


.actionHistory {
    border: 1px solid black;

    margin: 5px;
}

.selectedSubjects {
    margin: 0 1em 0 0;
}

.subjectsToView {
    text-align: center;
    border: 1px solid green;
}