<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание / редактирование записи о студенте</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Создание записи</h1>
<div>
    <a href="/student/"><button>К списку студентов</button></a>
</div>
<div th:if="${student == null}">
<form method="post">

    <label>Фамилия</label>
    <input type="text" name="lastName" required="required"><br>

    <label>Имя</label>
    <input type="text" name="name" required="required"><br>

    <label>Отчество</label>
    <input type="text" name="secondName"><br>

    <label>Дата рождения</label>
    <input name="birthdayDate" type="date" required="required"/><br>

    <label>Номер телефона</label>
    <input type="text" name="phone" required="required"><br>

    <label>Номер группы</label>
    <select class="form-control" name="groupId" required="required">
        <option th:each="group : ${groups}"
                th:value="${group.getGroupId()}"
                th:text="${group.getName()}">
        </option>
    </select>

    <p>
        <button>Создать запись</button>
    </p>
</form>
</div>
<div th:if="${student != null}">
    <form method="post">

        <label>Фамилия</label>
        <input type="text" name="lastName" required="required" th:value="${student.getLastName()}"><br>

        <label>Имя</label>
        <input type="text" name="name" required="required" th:value="${student.getName()}"><br>

        <label>Отчество</label>
        <input type="text" name="secondName" th:value="${student.getSecondName()}"><br>

        <label>Дата рождения</label>
        <input name="birthdayDate" type="date" required="required" th:value="${student.getBirthdayDate()}"/><br>

        <label>Номер телефона</label>
        <input type="text" name="phone" required="required" th:value="${student.getPhone()}"><br>

        <label>Номер группы</label>
        <select class="form-control" name="groupId" required="required">
            <option th:each="group : ${groups}"
                    th:value="${group.getGroupId()}"
                    th:text="${group.getName()}"
                    th:selected="${student.getGroupId() == group.getGroupId()}">
            </option>
        </select>
        <p>
            <button>Создать запись</button>
        </p>
    </form>

    <div>
        <a th:href="@{/student/delete/{id}(id=${student.getRecordId()})}"><button>Удалить запись о студенте</button></a>
    </div>
</div>

</body>
</html>
