<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Необходимо создать группу</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Необходимо создать группу</h1>
<div>
    <a href="/group/">
        <button>Перейти к интерфейсу управления группами</button>
    </a>
</div>

</body>
</html>
