<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Страница администрирования групп</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Группы</h1>
<div>
    <a href="/group/edit"><button>Создать группу</button></a>
</div>
<div>
    <a href="/"><button>Вернуться на страницу интерфейсов</button></a>
</div>
<div style="width: 500px; margin: auto" th:if="${groups.size() > 0}">
    <div class="group" >
        <table>
            <tr>
                <th>Номер группы</th>
                <th>Название</th>
                <th>Подробная информация</th>
            </tr>
            <tr th:each="record : ${groups}">
                <td th:text="${record.getGroupId()}"></td>
                <td th:text="${record.getName()}"></td>
                <td><a th:href="@{/group/view/{id}(id=${record.getGroupId()})}">Полная информация</a></td>
            </tr>
        </table>
    </div>
</div>
<div style="width: 500px; margin: auto" th:unless="${groups.size() > 0}">
    В базе нет зарегестрированных групп
</div>
</body>
</html>
