<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Выставление оценок</title>
</head>
<body>
<div class="assessmentForm">

    <h1>Выставление оценок</h1>

    <form method="post">
        <h2 th:text="${'Студент №'+subjects.getStudentId()}"></h2>
        <br>
        <hr>
        <div>
            Оценка по предмету №1: <input name="assess1" type="text" required="required"/>
        </div>
        <div>
            Оценка по предмету №2: <input name="assess2" type="text" required="required"/>
        </div>
        <div>
            Оценка по предмету №3: <input name="assess3" type="text" required="required"/>
        </div>
        <div>
            Оценка по предмету №4: <input name="assess4" type="text" required="required"/>
        </div>
        <br>
        <hr>

        <p>
            <button class="button" th:action="@{/task/assessment/{id}(id=${subjects.getStudentId()})}">Выставить оценки</button>
        </p>
    </form>
    <br>
    <hr>
    <div>
        <a href="/task/">
            <button class="button">К списку заданий</button>
        </a>
    </div>

</div>

<style>
    .assessmentForm {
        width: 500px;
        margin: auto;
        text-align: center;
        border: cadetblue;
        background-color: lightgray
    }

    .button {
        margin-bottom: 10px;
        background-color: lightseagreen;
        font-size: medium
    }
</style>
</body>
</html>
